.home__hero-section {
  color: rgb(75, 64, 1);
  padding: 160px 0;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  align-content: stretch;
}
.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #ffff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}

.heading {
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #000000;
}

.dark {
  color: #1c2237;
}

.darkBg {
  background: #ffffff;
}
.light {
  background-color: rgb(255, 255, 255);
}
.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  margin-left: 100px;
  text-align: center;
}

.home__hero-img-wrapper {
  max-width: 555px;
  max-height: 600px;
}

.home__hero-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 50px;
  padding-right: 0;
}
.cont {
  display: none;
}

@media screen and (max-width: 768px) {
  .cnt {
    display: none;
  }
  .home__hero-text-wrapper {
    padding-bottom: 60px;
    text-align: start;
  }
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .cont {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }
  .about-headline {
    margin-top: -40px;
    text-emphasis: none;
    text-align: center;
    font-family: "Dancing Script", cursive;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 600;
    color: #e9cfad;
  }
  .about-description {
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-img {
    width: 350px;
    height: 220px;
    text-align: center;
  }
}
